@{
    Layout = "_Layout.cshtml";
}

@Html.Partial("_Header")
<div class="body">
    <div class="left-panel z-depth-2">

    </div>
    <div class="content-panel">
        @RenderBody()
    </div>
</div>
