<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 
  <connectionStrings>
    <add name="FyncDatabase"
      connectionString=""
      xdt:Transform="Remove"
      xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

      <customErrors defaultRedirect="GenericError.htm"
        mode="Off" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
  </system.web>

  <entityFramework>
    <contexts xdt:Transform="Insert">
      <context type="Fync.Data.Context, Fync.Data">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[Fync.Data.Context, Fync.Data], [Fync.Data.Migrations.Configuration, Fync.Data]], EntityFramework, PublicKeyToken=b77a5c561934e089">
          <parameters>
            <parameter value="FyncDatabase" />
          </parameters>
        </databaseInitializer>
      </context>
    </contexts>
  </entityFramework>
</configuration>