@import "Variables";

ol.file-list {
    list-style-type: none;
    margin: @standard-margin;
    padding: @standard-padding;

    li {
        display: flex;
        list-style-position: inside;
        border-bottom: 1px solid @light-grey-colour;
        line-height: @file-line-height;

        .icon {
            width: @file-line-height;
            text-align: center;
            line-height: @file-line-height;
            font-size: @file-line-height * 0.6;
            color: @light-grey-colour;
            order:1;
            flex:auto 0 0;
        }

        .name {
            order:2;
            flex-grow:1;
        }

        a {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        &.folder a{
            display: block;
        }

        .details{
            order:3;
            width:@file-line-height * 3;
        }

        a.backButton{
            text-decoration: none;

            :hover{
                color:@colour-600;
            }
        }

        &.active{
            background-color:@colour-50;
            
            >.icon {
                color:@colour-300;
            }
        }
    }

    li.column-headers{
        color:@colour-300;
        border-bottom: 2px solid @colour-100;
    }

    li:hover{

        >.icon {
            color:@colour-600;
        }
    } 
}
