@import "Variables";

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a:link {
    color: @medium-grey-colour;
    text-decoration: none;
}

a:visited {
    color: @medium-grey-colour;
    text-decoration: none;
}

a:hover {
    color: @medium-grey-colour;
    text-decoration: underline;
}

a:active {
    color: @medium-grey-colour;
    text-decoration: underline;
}

h1{
    font-weight: 300;
}

html, body {
    background: @background-colour;
    width: 100%;
    height: 100%;
}

.left-panel{
    flex: 0 0 @side-bar-width;
    background: @medium-grey-colour;
    display: flex;
}

.content-panel{
    width:100%;
    height:100%;
    display: flex;
    overflow:auto;
}
.right-panel{
    flex: 0 0 0;
    background: @light-grey-colour;
    display: flex;
}
.drop-region.active, .drop-region.has-files{
    .right-panel{
        flex: 0 0 @side-bar-width;
    }
}

.panel{
    padding:@standard-padding;
    margin:@standard-margin;
}

ul.new-file-list{
    list-style-type: none;
    margin: @small-margin;
    padding: @small-padding;
    line-height:@new-file-line-height;

    li {
        display: flex;
        list-style-position: inside;

        &.uploading{
            color: @colour-100;
        }
        &.uploaded{
            color: @colour-500;
        }

        .icon{
            width: @new-file-line-height;
            line-height:@new-file-line-height;
            flex:auto 0 0;
        }
    }
}

#app-container{
    height:100%;
}

.full-flex-row{
    height:100%;
    flex-flow:column;
    display:flex;
    flex: 1 1 auto;

    .footer{
        flex: 0 1 @footer-height;
    }
}

.header{
    height: @header-height;
    .left-panel{
        background-color:white;
        .icon {
            width: 100%;
            text-align: center;
            color: @colour-400;
            line-height: @header-height;
            font-size: @header-height * 0.8;

            -webkit-transition: all 0.1s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            &:hover {
                color: @colour-300;
                font-size: @header-height*0.85;
            }
        }
    }
    .content-panel{
        background-color: @colour-400;
    }
}

.body{
    height:100%;
    .left-panel{
        background-color: @medium-grey-colour;
    }
    .right-panel{
        background:red;
    }
}
